/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: "wght" var(--weightText);
  background-image: var(--gradient);
}

.block {
  inline-size: clamp(23.438rem, 16.285rem + 30.516vi, 43.75rem);
  background-color: #fff;
  border: 2px solid var(--accentColor);
  align-self: center;
  justify-self: center;
}

.header {
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.28rem + 0.939vi, 8.125rem);
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: var(--styleRegular);
  text-transform: uppercase;
  color: var(--textColor);
}

.logo {
  justify-self: center;
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  line-height: 100%;
  margin-block-end: 20px;
}

.title {
  justify-self: center;
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  line-height: 100%;
}

.card {
  position: relative;
  margin-block-end: 51px;
}

.card:last-child {
  margin-block-end: 45px;
}

.card-title {
  padding-block: 5px;
  padding-inline-start: 10px;
  font-variation-settings: "wght" var(--weightTitle);
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.wrap-img {
  justify-self: center;
  align-self: center;
  position: relative;
  inline-size: 100%;
}

.card-img {
  border-block-start: 2px solid var(--accentColor);
  border-block-end: 2px solid var(--accentColor);
  object-fit: fill;
  inline-size: 100%;
}

.label {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: var(--styleRegular);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
}

@supports (text-stroke: 1px #fff) {
  span {
    text-stroke: 1px #fff;
  }
}

.card-content {
  margin-block-end: 88px;
  display: grid;
  gap: 25px;
  padding-block-start: 18px;
  padding-inline: 25px;
}

.card-text {
  font-style: var(--styleRegular);
  font-size: 18px;
  line-height: 21px;
  color: var(--textColor);
}

.button {
  border: 2px solid var(--accentColor);
  background-color: var(--lightColor);
  cursor: pointer;
  position: relative;
}

.button__text {
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: var(--styleRegular);
  font-size: 14px;
  line-height: 90%;
  color: var(--accentColor);
}

.card__like-button {
  padding: 8px 35px;
}

.button-save {
  padding: 17px 20px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 8px;
  justify-items: center;
  align-items: center;
  margin-block-end: 100px;
}

.icon-floopy {
  block-size: 28px;
  inline-size: 28px;
}

.dialog {
  padding: 30px 40px;
}

.dialog::backdrop {
  background-color: var(--accentColor);
  opacity: 0.75;
}

.dialog-wrap {
  display: flex;
  gap: 12px;
  margin-block-end: 30px;
}

.button-dialog {
  padding: 12.5px 116.5px;
  align-self: center;
  justify-self: center;
}

.img-bright {
  filter: brightness(200%);
}

.img-contrast {
  filter: contrast(110%);
}

.img-blur {
  filter: blur(3.2rem);
}

.img-grayscale {
  filter: grayscale(0.4);
}

.img-saturate {
  filter: saturate(140%);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accentColor);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  background-color: var(--accentColor);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  inset: 0;
  position: absolute;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--lightColor);
}

.button .icon-floopy {
  mix-blend-mode: difference;
  color: var(--lightColor);
}

.card__icon-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accentColor);
  transition: outline 0.3s ease;
  padding-block: 0px;
}

.wrap-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 25px;
  bottom: 23px;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accentColor);
  transition: fill 0.3 linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3 linear 0s;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accentColor);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3 linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

@media (width <= 1440) {
  .card-title {
    display: block;
  }
}