/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: "wght" var(--weightText);
  background-image: var(--gradient);
}

.block {
  inline-size: clamp(23.438rem, 0rem + 100vi, 43.75rem);
  background-color: #fff;
  border: 2px solid #000000;
}

.header {
  margin-block: 100px;
  padding-block: clamp(7.625rem, 7.048rem + 2.462vi, 8.125rem);
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: regular;
  text-transform: uppercase;
  color: var(--textColor);
}

.logo {
  justify-self: center;
  font-size: clamp(3.0625rem, 2.1958rem + 4.2667vw, 4.0625rem);
  line-height: 100%;
  margin-block-end: 20px;
}

.title {
  justify-self: center;
  font-size: clamp(0.875rem, 0.3875rem + 2.4vw, 1.4375rem);
  line-height: 100%;
}

.card {
  margin-block-end: 50px;
}

.card-title {
  padding-block: 4px;
  padding-inline-start: 10px;
  font-variation-settings: "wght" var(--weightTitle);
  max-inline-size: 300px;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}

.wrap-img {
  justify-self: center;
  align-self: center;
  position: relative;
}

.card-img {
  inline-size: 100%;
  object-fit: contain;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
}

@supports (text-stroke: 1px #fff) {
  span {
    text-stroke: 1px #fff;
  }
}

.card-content {
  margin-block-end: 25px;
  display: grid;
  gap: 20px;
  padding-block-start: 25px;
  padding-inline: 25px;
}

.card-text {
  font-style: regular;
  font-size: 18px;
  line-height: 21px;
  color: var(--textColor);
}

.button {
  font-family: var(--fontAccent);
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 90%;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  background-color: #fff;
  cursor: pointer;
}

.card__icon-button {
  padding: 10px 37px;
  margin-block-end: 25px;
}

.button-save {
  padding: 17px 20px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.icon-floopy {
  block-size: 28px;
  inline-size: 28px;
}
